<%- include('partials/header') %>


<div class="jcol jumbotron centered">
  <div class="container">
    <i class="col fas fa-camera-retro fa-6x"></i>
    <h1 class="display-3">Snapshare</h1>
    <p class="lead">Share your photos anonymously!</p>
    <hr>
    <a class="bc btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="lc btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
