<%- include('partials/header') %>

<div class="jcol jumbotron text-center">
  <div class="container">
    <i class="col fas fa-camera-retro fa-6x"></i>
    <h1 class="display-5">Post a glimpse of you for a day!</h1>

    <% allSecretUser.forEach(function(user){ %>
      <img src="../uploads/<%= user.image %>" class="image-disp img-thumbnail secret-text" alt="user-image">
      <br />
      <!-- <p class="secret-text"><%= user.image %></p> -->
    <% }); %>

    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="bgs btn btn-dark btn-lg" href="/submit" role="button">Post a photo</a>
  </div>
</div>

<%- include('partials/footer') %>
